---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="SVGify - Privacy Policy">
	<Navbar />

	<div id="privacy-container" class="w-10/12 md:w-1/2 py-20 md:py-15 mx-auto">
		<h1 class="text-3xl font-bold">Privacy Policy for SVGify</h1>

		<p class="py-2"><i>Last updated: 20 December 2023</i></p>

		<p class="py-2">
			Welcome to SVGify Desktop ("SVGify", "we", "us", or "our"), a desktop application designed to convert images into SVG code or SVG images. Our website "https://svgify.gitub.io" is the primary
			source of information and purchasing for SVGify. Your privacy is of utmost importance to us, and this Privacy Policy outlines the types of information we collect and how it's used.
		</p>

		<h2 class="text-2xl py-5 font-bold">Information We Collect</h2>

		<h3 class="text-xl py-5 font-bold">SVGify Desktop:</h3>

		<p class="py-2">
			<strong>Licensing Information:</strong> To unlock all features of SVGify, a license must be purchased. Our trusted third-party payment processor, LemonSqueezy, collects your email address and
			necessary purchase details to process transactions. SVGify does not store your payment information. Usage Data: SVGify uses Goat Counter to collect anonymous events, such as app opens, which
			include the OS type and SVGify app version. No personal information is collected or stored.
		</p>

		<h3 class="text-xl py-5 font-bold">SVGify Website:</h3>

		<p class="py-2">
			<strong>Visitor Information:</strong> Our website uses Google Analytics to gather standard internet log information and details of visitor behavior patterns. This information is processed in a
			way that does not identify anyone. Use of Your Information
		</p>

		<h3 class="text-xl py-5 font-bold">We use the information collected to:</h3>

		<p class="py-2">
			Operate and maintain the functionality of SVGify and its website<br />
			 Process and fulfill licensing purchases<br />
			 Enhance user experience by understanding how our app and website are used<br />
			 Improve our products and services over time<br />
			 Data Protection
		</p>

		<p class="py-2">
			We are committed to ensuring that your data is secure. We take reasonable steps to protect your personal information but remember that no method of transmission over the internet or method of
			electronic storage is 100% secure.
		</p>

		<h3 class="text-xl py-5 font-bold">Third-Party Services</h3>

		<p class="py-2">We may employ third-party companies due to the following reasons:</p>

		<p class="py-2">
			To facilitate our service<br />
			 To provide the service on our behalf<br />
			 To perform service-related services<br />
			 To assist us in analyzing how our service is used<br />
			 We want to inform our service users that these third parties have access to your personal information. The reason is to perform the tasks assigned to them on our behalf. However, they are
			obligated not to disclose or use the information for any other purpose.
		</p>

		<h3 class="text-xl py-5 font-bold">Changes to This Privacy Policy</h3>

		<p class="py-2">
			From time to time, we may update our Privacy Policy. We will notify you of any changes by posting the new Privacy Policy on our website and updating the "last updated" date. We encourage you to
			review this Privacy Policy periodically for any changes.
		</p>

		<h3 class="text-xl py-5 font-bold">Contact Us</h3>

		<p class="py-2">If you have any questions about this Privacy Policy, please contact us via email at <a href="mailto:svgify@cyris.io" class="link">svgify@cyris.io</a>.</p>
	</div>

	<Footer />
</BaseLayout>
