---
// Examples
---

<div class="w-11/12 md:w-10/12 mx-auto justify-between flex flex-col md:flex-row">
	<div class="w-11/12 md:w-1/3 mx-auto my-5 diff aspect-square wow animate__animated animate__fadeInLeftBig">
		<div class="diff-item-1">
			<img alt="SVGify Example 1" src="images/example1b.jpg" />
		</div>
		<div class="diff-item-2">
			<img alt="SVGify Example 1" src="images/example1a.jpg" />
		</div>
		<div class="diff-resizer w-[10rem] md:w-[15rem]"></div>
	</div>

	<div class="w-11/12 md:w-1/3 mx-auto my-5 diff aspect-square wow animate__animated animate__fadeInRightBig">
		<div class="diff-item-1">
			<img alt="SVGify Example 2" src="images/example2b.jpg" />
		</div>
		<div class="diff-item-2">
			<img alt="SVGify Example 2" src="images/example2a.jpg" />
		</div>
		<div class="diff-resizer w-[10rem] md:w-[15rem]"></div>
	</div>
</div>
