<div class="w-full md:w-full mx-auto my-10 mb-20 relative text-center">
	<div class="join join-vertical w-full md:w-1/2 bg-base-300 wow animate__animated animate__bounceInUp">
		<div class="collapse collapse-arrow join-item border border-base-200">
			<input type="radio" name="my-accordion-4" />
			<div class="collapse-title text-xl font-medium">Is this a subscription service?</div>
			<div class="collapse-content bg-base-200">
				<p class="pt-5 px-5">No, this is a one time payment. No subscriptions, no hidden costs.</p>
			</div>
		</div>
		<div class="collapse collapse-arrow join-item border border-base-300">
			<input type="radio" name="my-accordion-4" />
			<div class="collapse-title text-xl font-medium">Which image formats are compatible with SVGify for conversion?</div>
			<div class="collapse-content bg-base-200">
				<p class="pt-5 px-5">
					SVGify currently accepts and efficiently converts JPG and PNG formats into SVG files. For optimal performance and to ensure the best results, we recommend using images with simpler graphics
					with black outlines as SVGify redraws the darker areas creating the SVG. While it's possible to convert more complex images, please be aware that these may result in larger SVG files and
					could affect the app's performance.
				</p>
			</div>
		</div>
		<div class="collapse collapse-arrow join-item border border-base-300">
			<input type="radio" name="my-accordion-4" />
			<div class="collapse-title text-xl font-medium">Can I use SVGify for commercial purposes?</div>
			<div class="collapse-content bg-base-200">
				<p class="pt-5 px-5">
					Yes, with a valid license, and assuming you have the rights to the source image you are free to use SVGify for both personal and commercial projects. The SVGs you create are yours to use as
					you wish.
				</p>
			</div>
		</div>

		<div class="collapse collapse-arrow join-item border border-base-300">
			<input type="radio" name="my-accordion-4" />
			<div class="collapse-title text-xl font-medium">Are my images uploaded to the cloud?</div>
			<div class="collapse-content bg-base-200">
				<p class="pt-5 px-5">No, your images stay safe and private on your computer. All processing is handled right on your desktop.</p>
			</div>
		</div>

		<div class="collapse collapse-arrow join-item border border-base-300">
			<input type="radio" name="my-accordion-4" />
			<div class="collapse-title text-xl font-medium">Are there any limitations on the number of images I can convert?</div>
			<div class="collapse-content bg-base-200">
				<p class="pt-5 px-5">SVGify does not impose any limits on the number of images you can convert. With a one-time purchase, you can convert as many images as you need.</p>
			</div>
		</div>

		<div class="collapse collapse-arrow join-item border border-base-300">
			<input type="radio" name="my-accordion-4" />
			<div class="collapse-title text-xl font-medium">Do you offer refunds if I'm not satisfied with SVGify?</div>
			<div class="collapse-content bg-base-200">
				<p class="pt-5 px-5">
					If you're not happy with SVGify, please contact me <a href="mailto:svgify@cyris.io" class="link">via email</a> within the 14-day period of your purchase to discuss our refund policy.
				</p>
			</div>
		</div>

		<div class="collapse collapse-arrow join-item border border-base-300">
			<input type="radio" name="my-accordion-4" />
			<div class="collapse-title text-xl font-medium">Does SVGify collect any user data?</div>
			<div class="collapse-content bg-base-200">
				<p class="pt-5 px-5">
					SVGify uses Google Analytics to gather anonymous usage data, which helps us improve the app experience. This data does not include any personal information. For licensing and purchase
					transactions, we partner with LemonSqueezy, which securely handles the payment process and only retains basic information necessary for the transaction, such as your email address.
				</p>
			</div>
		</div>

		<div class="collapse collapse-arrow join-item border border-base-300">
			<input type="radio" name="my-accordion-4" />
			<div class="collapse-title text-xl font-medium">I'm having trouble installing or opening the application?</div>
			<div class="collapse-content bg-base-200 text-left">
				<p class="pt-5 px-5 text-left">
					<h2 class="font-bold py-3">Installation and Opening Unsigned Applications</h2>

					<p class="py-3">Since SVGify is an application developed by a solo developer and provided directly to you, it hasn't been signed (yet) with a certificate from a recognized authority.</p>

					<h3 class="font-bold py-3 underline">MacOS</h3>
					<p>
						When you try to open an unsigned application on macOS, you might see a warning that the app cannot be verified and may not be safe to open. This is a standard macOS security feature known
						as Gatekeeper.
					</p>

					<p class="pt-3 font-bold">To bypass this and open SVGify:</p>

					<p class="py-3">
						<ol class="list-decimal mx-5">
							<li class="list-item pb-5"><strong>Control-Click the App:</strong> In the Finder, locate the SVGify app. Control-click the app icon, then choose "Open" from the shortcut menu.</li>
							<li class="list-item">
								<strong>Open Anyway:</strong> If you see a dialog warning that the app cannot be verified, click "Open Anyway" to confirm your intent to open the app. For subsequent launches, you can
								simply double-click the app as you would with any other application.
							</li>
						</ol>

						<h3 class="py-3 pt-5 font-bold underline">Windows</h3>
						<p class="py-3">On Windows, SmartScreen may prevent you from running an unsigned application, warning that the app could potentially harm your device.</p>

						<p class="pt-3 font-bold">To bypass this and install SVGify:</p>

						<p class="py-3">
							<ol class="list-decimal mx-5">
								<li class="list-item pb-5"><strong>More Info:</strong> When the "Windows protected your PC" dialog appears, click "More info" to reveal the "Run anyway" button.</li>
								<li class="list-item pb-5"><strong>Run Anyway:</strong> Click "Run anyway" to proceed with the installation.</li>
							</ol>
						</p>
					</p>
				</p>
			</div>

			<div class="collapse collapse-arrow join-item border border-base-300">
				<input type="radio" name="my-accordion-4" />
				<div class="collapse-title text-xl font-medium">My question isn't here?</div>
				<div class="collapse-content bg-base-200">
					<p class="pt-5 px-5">
						Feel free to <a href="mailtosvgify@cyris.io" class="link">email me</a> with your questions, and I'll respond as promptly as possible. Your feedback and inquiries are always welcome.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
