---
// Features
---

<div class="features flex w-10/12 mx-auto flex-col lg:flex-row">
	<div class="feature my-5 flex-col w-full md:w-1/4 wow animate__animated animate__fadeIn" data-wow-delay="1s">
		<div class="text-center"><i class="fa-solid fa-sliders text-6xl md:text-8xl hover:text-primary"></i></div>
		<h2 class="font-bold text-center mt-5 uppercase">Precision at Your Fingertips</h2>
		<p class="text-center mt-5">Get the perfect SVG every time with intuitive sliders that let you fine-tune your output.</p>
	</div>
	<div class="feature my-5 flex-col w-full md:w-1/4 wow animate__animated animate__fadeIn" data-wow-delay="1.3s">
		<div class="text-center"><i class="fa-solid fa-arrow-down-up-lock text-6xl md:text-8xl hover:text-primary"></i></div>
		<h2 class="font-bold text-center mt-5 uppercase">Your Design, Your Control</h2>
		<p class="text-center mt-5">All your designs stay private and local. Processing is handled right on your desktop.</p>
	</div>
	<div class="feature my-5 flex-col w-full md:w-1/4 wow animate__animated animate__fadeIn" data-wow-delay="1.6s">
		<div class="text-center"><i class="fa-solid fa-computer text-6xl md:text-8xl hover:text-primary"></i></div>
		<h2 class="font-bold text-center mt-5 uppercase">Cross-Platform Convenience</h2>
		<p class="text-center mt-5">Whether you're a Windows aficionado or a Mac enthusiast, SVGify has got you covered.</p>
	</div>
	<div class="feature my-5 flex-col w-full md:w-1/4 wow animate__animated animate__fadeIn" data-wow-delay="1.9s">
		<div class="text-center"><i class="fa-solid fa-thumbs-up text-6xl md:text-8xl hover:text-primary"></i></div>
		<h2 class="font-bold text-center mt-5 uppercase">One-Time Purchase</h2>
		<p class="text-center mt-5">No subscriptions, no hidden costs. 14&nbsp;day&nbsp;refund&nbsp;period.</p>
	</div>
</div>
