
<div class="w-full py-5 px-10 bg-base-300 text-base-content flex justify-between">
    <div class="w-1/2">Developed by <a href="https://x.com/Sudo_Overflow" class="link"
            target="_blank">@Sudo_Overflow</a></div>
    <div class="w-1/2 text-right"><a href="https://Cyris.io" class="link block" target="_blank">Cyris.io</a></div>
</div>