---
// Hero
---

<div class="mt-20 w-10/12 bg-base-200 mx-auto">
	<div class="mainLayout flex flex-col-reverse md:flex-row items-center text-center">
		<div class="left w-11/12 md:w-5/12 animate__animated animate__fadeIn">
			<h1 class="heading font-bold text-2xl md:text-5xl">Welcome to SVGify&nbsp;👋</h1>
			<p class="py-6">
				Your world where vector conversion is not only possible but incredibly simple. SVGify is your go-to desktop application for transforming any image into high-quality SVG code or files with the
				ease of drag-and-drop. <br class="parabreak" />
			</p>
			<p>
				<a href="#" target="_blank" class="buyNowButton btn btn-primary mr-5">Buy Now <i class="fa-solid fa-cart-shopping"></i></a>
				<a href="#features-jump" class="btn btn-primary btn-outline">Check it out <i class="fa-regular fa-hand-point-down"></i></a>
			</p>
		</div>
		<div class="w-1/12 center h-10"></div>
		<div class="w-11/12 md:w-6/12 right animate__animated animate__bounceInDown">
			<!-- Embed Video -->
			<video width="100%" autoplay muted loop class="rounded">
				<source src="/video/SVGifyPromo.mp4" type="video/mp4" />
				 Your browser does not support the video tag.
			</video>
		</div>
	</div>
</div>
