<div class="w-10/12 md:w-1/2 my-20 mx-auto text-center">
	<h1 class="text-3xl font-bold my-5">Ready to give SVGify a go?</h1>
	<p class="my-5">Purchase a license today.</p>
	<a href="https://svgify.lemonsqueezy.com/checkout/buy/eeed8a38-3f76-4711-a700-f4127def58a6" target="_blank" class="buyNowButton btn btn-primary btn-sm mr-3 md:btn-md"
		>Buy Now <i class="fa-solid fa-cart-shopping"></i></a
	>
</div>
