<div class="w-10/12 md:w-1/2 my-20 mx-auto text-center">
	<h1 class="text-3xl font-bold my-5">Ready to give SVGify a go?</h1>
	<p class="my-5">Purchase a license today.</p>
	<a
		href="https://svgify.lemonsqueezy.com/checkout/buy/759b3cf7-e682-4a4e-9a84-a073df80e251"
		target="_blank"
		class="btn btn-primary btn-sm mr-3 md:btn-md"
		>Buy Now <i class="fa-solid fa-cart-shopping"></i></a
	>
</div>
